body
{
    font-family: sans-serif;
    line-height: 1.25em;
}

.header {
  margin: auto;
  max-width: 1000px;
  color: #207492;
}

.header h1 {
  float: left;
}

.header div {
  float: right;
  line-height: 75px;
}

.section-break {
  clear:both;
  text-align: center;
  padding-top: 30px;
  border-top: 1px solid;
  color: #207492;
}


.section {
  clear: both;
  margin: auto;
  max-width: 1000px;
}

.section h2 {
  border-bottom: 1px solid;
  color: #207492;
}

.section img {
  display: block;
  margin: auto;
}

footer {
  height: 150px;
}